body{
    margin: 0;
    display: grid;
    font-family: 'Roboto', sans-serif; 
 
    text-align: center;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70px 80px 1200px 50px;
    grid-template-areas: 
        "header header header header header"
        "aside navbar navbar navbar navbar"
        "aside main main main main"
        "aside footer footer footer footer"
    
    ;

}

header{
 
    background-color: rgb(255, 255, 255);
    grid-area: header;
    text-align: left;
    padding: 5px 0px 1px 5px;
}

header .menu {
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
    padding: 10px 10px 10px 20px;
    width: 30px; /* Ajuste a largura conforme necessário */
}
header .logo{
    padding: 9px 10px 10px 20px;
    width: 150px; /* Ajuste a largura conforme necessário */
}
header .pesquisa{
    padding: 9px 10px 10px 500px;
    width: 380px; /* Ajuste a largura conforme necessário */
}
header .sino{
    padding: 9px 10px 10px 5px;
    width: 30px; /* Ajuste a largura conforme necessário */
}
header .video{
    padding: 9px 10px 10px 500px;
    width: 30px; /* Ajuste a largura conforme necessário */
}
header .usuario{
    padding: 9px 10px 10px 10px;
    width: 30px; /* Ajuste a largura conforme necessário */
}

/*
aside{
    background-color: #ffffff;
    grid-area: aside;
    text-align: left;
    padding: 20px 0px 0px 20px;
    font-size: 17px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;  
}
li img {
    width: 30px;  
    height: auto;  
    margin-right: 10px; 
}
li a {
    color: black;
}
*/



 
nav {
    background-color: #f9f9f9;
    grid-area: navbar;
}

nav ul.menus {
    display: flex;
    justify-content: left; /* Centraliza os itens horizontalmente */
 
    padding: 15px 0px 0px 40px;
    margin: 0;
    list-style: none; 
}

nav li {
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 6px;
    width: auto; /* Ajusta a largura automaticamente ao conteúdo */
    display: flex;
    justify-content: center; /* Centraliza o texto no item */
}


main{
 
    background-color: #f9f9f9;
    grid-area: main;
    display: grid;  
    grid-template-columns: repeat(4, 1fr);  
    grid-template-rows: repeat(4, 1fr);  
    gap: 10px;  
    padding: 20px 40px 40px 40px;
}

main img {
    width: 300px;  
    height: auto;  
    margin-right: 10px;  
}
 

 
footer{
 
    background-color: #f9f9f9;
    grid-area: footer;
}